<?xml version="1.0" encoding="UTF-8"?>
<!-- Add this entry to TE_BASE/config.xml (//organization/standard) -->
<organization>
  <name>OGC</name>
  <version>
  <name>2.0</name>
  <suite>
	<namespace-uri>http://www.opengis.net/sensorml/2.0</namespace-uri>
	<prefix>sml</prefix>
	<local-name>suite</local-name>
	<title>SensorML 2.0 Conformance Test Suite</title>
	<description>Checks SensorML instances for conformance to OGC 12-000.</description>
  </suite>
  <revision>
	<name>r1</name>
	<status>Beta</status>
	<sources>
	  <source>sensorML20/ctl</source>
	</sources>
	<resources>sensorML20/resources</resources>
	<webdir>sensorML20/web</webdir>
  </revision>
</version>
</organization>
