<?xml version="1.0" encoding="UTF-8"?>
<!-- Add this entry to TE_BASE/config.xml (//organization/standard) -->
<organization>
  <name>OGC</name>
  <standard>
  <name>Sensor Model Language (SensorML)</name>
  <version>
      <name>2.0</name>
  <suite>
	<namespace-uri>http://www.opengis.net/sensorml/2.0</namespace-uri>
	<prefix>sml</prefix>
	<local-name>suite</local-name>
	<title>SensorML 2.0 Conformance Test Suite</title>
	<description>Checks SensorML instances for conformance to OGC 12-000.</description>
	<BasicConformanceClasses>
	  <conformanceClass>org.opengis.cite.sensorml20.level1.CoreConcept</conformanceClass>
	  <!-- <conformanceClass>org.opengis.cite.sensorml20.level1.PhysicalComponent</conformanceClass>
	  <conformanceClass>org.opengis.cite.sensorml20.level1.PhysicalSystem</conformanceClass>
	  <conformanceClass>org.opengis.cite.sensorml20.level1.CoreAbstractProcess</conformanceClass>
	  <conformanceClass>org.opengis.cite.sensorml20.level1.SimpleProcess</conformanceClass>
	  <conformanceClass>org.opengis.cite.sensorml20.level1.AggregateProcess</conformanceClass>
	  <conformanceClass>org.opengis.cite.sensorml20.level1.ConfigurableProcesses</conformanceClass> -->
	</BasicConformanceClasses>
  </suite>
  <revision>
	<name>${project.version}</name>
	<status>Beta</status>
	<sources>
	  <source>sensorml/${spec-version}/ctl</source>
	</sources>
	<resources>sensorml/${spec-version}/resources</resources>
	<webdir>sensorml/${spec-version}/site</webdir>
  </revision>
</version>
</standard>
</organization>
