<?xml version="1.0" encoding="UTF-8"?>
<!-- Unpack the *-ctl-scripts.zip archive in the TE_BASE/scripts directory -->
<!-- Add this entry to TE_BASE/config.xml (//organization/standard) -->
<organization>
  <name>OGC</name>
  <standard>
    <name>OGC SensorML</name>
    <version>
      <name>${spec-version}</name>
      <suite>
        <namespace-uri>http://www.opengis.net/cite/sensorml20</namespace-uri>
        <prefix>tns</prefix>
        <local-name>ets-sensorml20-${version}</local-name>
        <title>OGC SensorML 2.0 Validator</title>
        <description>Validates the structure and content of standard SnesorML 2.0 documents.</description>
      </suite>
      <revision>
        <name>${version}</name>
        <status>Beta</status>
        <sources>
          <source>sensorml20/${spec-version}/ctl</source>
        </sources>
        <webdir>sensorml20/${spec-version}/site</webdir>
      </revision>
    </version>
  </standard>
</organization>
